PORT=4000
NODE_ENV=development

# Database
DATABASE_URL=
DIRECT_URL=

# Authentication (Clerk)
CLERK_SECRET_KEY=
CLERK_PUBLISHABLE_KEY=

# Cloudinary
CLOUDINARY_URL=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Frontend
FRONTEND_URL=
